---
title: Schwa
---

<p>Desktop wallpaper inspired by <a href="https://en.wikipedia.org/wiki/Schwa_(art)">Bill Barker's Schwa</a>.</p>

<h2>001</h2>

<h3>2560x1440 (Desktop)</h3>

<%= link_to image_tag("/images/schwa/schwa001-2560x1440.png", resize_to: '256'), "/images/schwa/schwa001-2560x1440.png" %>

<h3>1440x900 (Desktop)</h3>

<%= link_to image_tag("/images/schwa/schwa001-1440x900.png", resize_to: '256'), "/images/schwa/schwa001-2560x1440.png" %>

<h3>750x1334 (iPhone 6)</h3>

<%= link_to image_tag("/images/schwa/schwa001-iphone6.png", resize_to: '256'), "/images/schwa/schwa001-iphone6.png" %>

