body {
    font-family: 'Lora', serif;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
    background-color: #ffffff;
    padding: 2em;
    margin: 0 auto;
    max-width: 940px;
}

a {
    color: #0a0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

