<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Resume for Brian Kelly</title>
    <meta name="description" content="Resume for Brian Kelly">
    <meta name="author" content="Brian Kelly">
    <%= stylesheet_link_tag 'resume' %>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

