---
title: Guitar Chords
layout: none
---

<h2>Major Chords</h2>

<table>
  <tr>
    <td><img src="http://chordgenerator.net/C.png?p=x32010&f=-32-1-&s=3"></td>
    <td><img src="http://chordgenerator.net/D.png?p=xx0232&f=---132&s=3"></td>
    <td><img src="http://chordgenerator.net/E.png?p=022100&f=-231--&s=3"></td>
    <td><img src="http://chordgenerator.net/F.png?p=133211&f=134211&s=3"></td>
    <td><img src="http://chordgenerator.net/G.png?p=320033&f=21--33&s=3"></td>
    <td><img src="http://chordgenerator.net/A.png?p=x02220&f=--123-&s=3"></td>
    <td><img src="http://chordgenerator.net/B.png?p=x2444x&f=-1333-&s=3"></td>
  </tr>
</table>

<h2>Minor Chords</h2>

<table>
  <tr>
    <td><img src="http://chordgenerator.net/Cm.png?p=x35543&f=-13421&s=3"></td>
    <td><img src="http://chordgenerator.net/Dm.png?p=xx0231&f=---231&s=3"></td>
    <td><img src="http://chordgenerator.net/Em.png?p=022000&f=-12---&s=3"></td>
    <td><img src="http://chordgenerator.net/Fm.png?p=133111&f=134111&s=3"></td>
    <td><img src="http://chordgenerator.net/Gm.png?p=355333&f=134111&s=3"></td>
    <td><img src="http://chordgenerator.net/Am.png?p=x02210&f=--231-&s=3"></td>
    <td><img src="http://chordgenerator.net/Bm.png?p=x24432&f=-13421&s=3"></td>
  </tr>
</table>

<h2>Dominant 7th Chords</h2>

<table>
  <tr>
    <td><img src="http://chordgenerator.net/C7.png?p=x32310&f=-3241-&s=3"></td>
    <td><img src="http://chordgenerator.net/D7.png?p=xx0212&f=---213&s=3"></td>
    <td><img src="http://chordgenerator.net/E7.png?p=020100&f=-2-1--&s=3"></td>
    <td><img src="http://chordgenerator.net/F7.png?p=131211&f=131211&s=3"></td>
    <td><img src="http://chordgenerator.net/G7.png?p=320001&f=32---1&s=3"></td>
    <td><img src="http://chordgenerator.net/A7.png?p=x02020&f=--1-2-&s=3"></td>
    <td><img src="http://chordgenerator.net/B7.png?p=x21202&f=-213-4&s=3"></td>
  </tr>
</table>

<h2>Minor 7th Chords</h2>
<table>
  <tr>
    <td><img src="http://chordgenerator.net/Cm7.png?p=x35343&f=-13121&s=3"></td>
    <td><img src="http://chordgenerator.net/Dm7.png?p=xx0201&f=---2-1&s=3"></td>
    <td><img src="http://chordgenerator.net/Em7.png?p=022030&f=-23-4-&s=3"></td>
    <td><img src="http://chordgenerator.net/Fm7.png?p=131111&f=131111&s=3"></td>
    <td><img src="http://chordgenerator.net/Gm7.png?p=353333&f=131111&s=3"></td>
    <td><img src="http://chordgenerator.net/Am7.png?p=x02010&f=--2-1-&s=3"></td>
    <td><img src="http://chordgenerator.net/Bm7.png?p=x24232&f=-13121&s=3"></td>
  </tr>
</table>

<p>Chord images provided by <a href="http://chordgenerator.net/">Chord Image Generator</a> by <a href="http://einaregilsson.com">Einar egilsson</a>.</p>
