---
title: Hello!
---

<p class="lead">My name is Brian Kelly. I am a software engineer by day, a songwriter by night and a geek most of the
  rest of the time. I live in Mentone, AL with <a href="https://www.comingupviolets.com">my girlfriend Amanda</a>.</p>

<p class="lead">Check out my <a href="/projects">projects page</a> to see the various things I've created or help create.</p>

<p class="lead">If you want to find me elsewhere on the Internet, check out the <a href="/links">links page</a>.</p>

<p class="lead">I very rarely write <a href="/blog/">blog posts</a> these days but there are a few you might find interesting.</p>

<p class="lead">Lastly, if you're interested in a full-stack software engineer with 20+ years of experience, check out <a href="/resume/">my resume</a>.</p>