---
title: Links
---

<p class="lead">Here are some places you can find me on the Internet:</p>

<ul>
  <li><a href="https://spilth.bandcamp.com">Bandcamp</a> - where I post my original songs</li>
  <li><a href="https://soundcloud.com/spilth">Soundcloud</a> - where I post cover songs</li>
  <li><a href="https://github.com/spilth">GitHub</a> - where I post my code</li>
  <li><a href="https://www.linkedin.com/in/spilth/">LinkedIn</a> - where I connect with colleagues</li>
</ul>