---
title: Profiles
---

<p class="lead">Here are a bunch of my web site profiles.</p>

<% data.profiles.each do |profile| %>
  <h2><a href="<%= profile.url %>"><%= profile.title %></a></h2>
<% end %>

